<ion-app>
    <ion-menu side="start" content-id="main-content" side=end>
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>PawTracker</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
            <ion-list-header>username</ion-list-header>
            <ion-note>user@user.com</ion-note>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" side=end>
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
            <ion-list-header>Labels</ion-list-header>
  
            <ion-item *ngFor="let label of labels" lines="none">
              <ion-icon slot="end" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label>{{ label }}</ion-label>
            </ion-item>
          </ion-list>

      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>PawTracker</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="navigate"></ion-icon>
              Where are my buddies?
            </ion-card-title>              
            <ion-card-subtitle>Locate them in real time</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="transparent-card">
            <div id="map" style="height: 150px;"></div>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="navigate"></ion-icon>
              Appointments
            </ion-card-title>              
            <ion-card-subtitle>blah blah blah</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="transparent-card">
            <div></div>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="navigate"></ion-icon>
              Sleep
            </ion-card-title>              
            <ion-card-subtitle>blah blah blah</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="transparent-card">
            <div></div>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="navigate"></ion-icon>
              Walking
            </ion-card-title>              
            <ion-card-subtitle>blah blah blah</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="transparent-card">
            <div></div>
          </ion-card-content>
        </ion-card>
      </ion-content>

    </div>
  </ion-app>